@model IEnumerable<BTL.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Danh Sách Thuốc</h1>

<a asp-action="Create" class="btn btn-primary">Thêm thuốc mới</a>
@await Component.InvokeAsync("LoaiThuoc")
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Thuốc
            </th>
            <th>
                Loại Thuốc
            </th>
            <th>
                Đơn Giá Nhập
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Đơn Giá Bán
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Hạn Sử Dụng
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.TenSp)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.MaLtNavigation.TenLt)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DonGiaNhap)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DonGiaBan)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    <img src="~/@item.Anh" alt="Selected Image" class="img-thumbnail" />
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Hsd)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.MaSp">Xem</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>