@model IEnumerable<BTL.Models.HoaDonBan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Hóa Đơn Bán</h1>

<a asp-action="Create" class="btn btn-primary">Tạo hóa đơn mới</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Thuốc
            </th>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Ngày Bán
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHdb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTkNavigation.HoTen)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBan)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.MaHdb">Xem</a>
            </td>
        </tr>
}
    </tbody>
</table>
